/TravelSmart.xcodeproj/project.xcworkspace/xcuserdata/bobbystrickland.xcuserdatad/UserInterfaceState.xcuserstate
/TravelSmart.xcodeproj/xcuserdata/bobbystrickland.xcuserdatad/xcschemes/TravelSmart.xcscheme
/TravelSmart.xcodeproj/xcuserdata/bobbystrickland.xcuserdatad/xcschemes/xcschememanagement.plist

/TravelSmart/Images.xcassets/AppIcon.appiconset/Contents.json
/TravelSmart/Images.xcassets/LaunchImage.launchimage/Contents.json
